#root {
  
  margin: 0 ;
  padding: 0;
  text-align: center;
  
  
}
nav {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 100vw; /* 100% del ancho de la ventana (no del contenedor, sino de la ventana entera) */
  margin: 0; /* Elimina cualquier margen por defecto */
  box-sizing: border-box; /* Asegura que el borde se incluya dentro del ancho */
  border: 2px solid black;
  padding:10px;
  
}

#logo {
  
  display: flex;
  justify-content: flex-start;
  width: 120px;
  height: 120px;
}

#sidebar{
  display: flex;
  position: relative;
  bottom: 295px; 
  margin-left: 20px; 
}
#sidebar ul li{
  display: flex;
 justify-content: space-between;
}
#sidebar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}

#footer footer{

display: flex;
position: relative;
justify-content:flex-end ;
top: 250px
}


.card-comida{
 
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px;
  list-style: none;
  padding-bottom: 20px;
width: 500px;
}

.contenedor-lista{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}