#root {
  
  margin: 0 ;
  padding: 0;
  text-align: center;
  background-image: url("../src/assets/Background.jpg");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   height: 400vh;
  
}
nav {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 98vw; /* 100% del ancho de la ventana (no del contenedor, sino de la ventana entera) */
  margin: 0; /* Elimina cualquier margen por defecto */
  box-sizing: border-box; /* Asegura que el borde se incluya dentro del ancho */
  border: 2px solid black;
  padding:10px;
  
}

#logo {
  
  display: flex;
  justify-content: flex-start;
  width: 120px;
  height: 120px;
}

#sidebar{
  display: flex;
  position: relative;
  bottom: 390px;  
  margin-top: 400px;
  background-color: #E35A5A;
}
#sidebar ul li{
  list-style: none;
  font-size: 1.9em;
  
}
#sidebar ul li a{
  color:white;
  
}
#sidebar ul li a:hover{
background-color: #e18888;
padding:7px;
border-radius:15px;
}
#sidebar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  
}

#footer footer{

display: flex;
position: relative;
justify-content:flex-end ;
top: 250px
}


.card-comida{
 
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px;
  list-style: none;
  padding-bottom: 20px;
width: 500px;
background-color: white;


}

.contenedor-lista{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  bottom: 350px;

}
.formulario{
  border: 2px solid black;
  width:50%;

}
.input{
 display: flex;
 position: relative;
}
